.resultContainer {
  width: 100%;
}

.ul {
  list-style-type: none;
  padding: 0;
}

.li {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
}

.different {
  background-color: #ffeded;
  border-left: 5px solid #ff4d4d;
}
